.require {
   color: red;
   width: 20px;
   font-weight: bold;
}

.form-group{
	height:25px;
}

.ibox {
	clear: both;
	margin-bottom: 2px;
	margin-top: 0;
	padding: 0
}
.ibox-content {
	color: inherit;
	padding: 5px 10px 10px;
	border-color: #e7eaec;
	-webkit-border-image: none;
	-o-border-image: none;
	border-image: none;
	border-style: solid solid none;
	border-width: 1px 0
}

.hr-line-dashed {
	border-top: 1px dashed #e7eaec;
	color: #fff;
	background-color: #fff;
	height: 1px;
	margin: 10px 0
}


.hr-line-solid {
	border-bottom: 1px solid #e7eaec;
	background-color: rgba(0, 0, 0, 0);
	border-style: solid !important;
	margin-top: 15px;
	margin-bottom: 15px
}

.form-control {
    background-color: #FFF;
    background-image: none;
    border: 1px solid #000;
    border-radius: 3px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    -webkit-transition: border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s;
    transition: border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #000;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0px;
    font-weight: 700;
}

.nav-second-level li,.nav-third-level li{border-bottom:none!important;}
.nav-second-level li a{padding:7px 15px 7px 10px;padding-left:35px;}
.nav-third-level  li a{padding-left:45px;}